.FLTEXT {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.1;
    width: 149px;
}

.FLTEXT--other {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
   
}