.TopCarusel-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    margin-top: 37px;
    margin-bottom: 31px;
   
}


.container {
    width: 100%;
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}