.LCH-wrapper {
    margin-right: 66px;
}

.lang-links {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #4A4A4A;
    padding-right: 5px;
}

.lang-links--simple {
    margin-right: 10px;
}

.lang-links--borderly {
    padding-left: 10px;
    border-left: 1px solid #4A4A4A;
}