.FCCard-wrapper {
    position: relative;
    min-width: 359px;
    min-height: 238px;
    border-radius: 10px;
    background-image: linear-gradient(120deg, #B4E2E1 0% 50%, #FF9E83 50% 100%);
    margin-right: 29px;
}

.FCCard-texts {
    padding-top: 24px;
    padding-left: 11px;
}