.SettingLabel {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;

}


.SettingInputT {
    

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    color: #000000;
    outline: none;
    border: none;
    border-bottom: 1px solid #979797;
    padding-bottom: 7px;
    margin-right: 39px;
}

.SettingInputT:last-child {
    margin-right: 0;
}

.SettingSelect {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    color: #000000;
    outline: none;
    border: none;
    border-bottom: 1px solid #979797;
    padding-bottom: 7px;
    margin-right: 50px;
    
}

.SettingLabel2 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    margin-left: 11px;

}

.SettingLabel2--bigger {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #000000;

}

.SettingSpan {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.55;
}

.SettingGreenBtn {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    color: #000000;
    background: #19D476;
    border-radius: 13px;
    padding: 20px 45px;
    margin-right: 67px;
    border: none;
}

.SettingBlueBtn {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #4E72CA;
    background-color: transparent;
    border: none;

}



.SettingsItem-sections{

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 38px;


    hr {
        border: 1px solid #979797;
    }
}

.SettingsItem-sections--notFlexly {
    display: inline-block;
    
}

.SInputsWrap {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}



.STT {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.SInputsWrap2{
    display: flex;
    flex-direction: column;
    margin-bottom: 31px;

}

.SettingIcon {
    border: 1px solid #000;
}

.sections-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 22px;
}

.section-top-setting {
    margin-bottom: 14px;
}

.SettingsItem-articles2 {
    display: flex;
    flex-direction: column;
}

.SettingsItem-sections--others {
    display: flex;
    flex-direction: column;
    width: 300px;

}

.SettingsItem-sections--others2 {
    display: flex;
    flex-direction: column;
   

}

.SettingTitleBig {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 10px;
}

.SSDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.IMGIcons {

    display: flex;
    align-items: center;

    label {
        margin-right: 37px;
        margin-bottom: 23px;


        input {
            display: none;
        }
    }
}

.bigImg {
    margin-top: 19px;
    margin-left: 350px;
}

.SettingsItem-sections--another {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
