.to-link {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #9B9B9B;
    padding-bottom: 5px;



}





.active {
    color: #4E72CA;
    border-bottom: 2px solid #4E72CA;
}