.InfinityBtn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;

    
}

hr {
    border: 1px solid rgba(182, 202, 251, 0.606827);
}

.infi-btn {
    font-family: 'Gilroy';
    font-size: 15px;
    line-height: 18px;
    color: #4E72CA;
    position: relative;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.infi-btn::after {
    content: "";
    

}


.container {
    width: 100%;
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}