.SRItems1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.SRItems1-right {
    display: flex;
    align-items: center;
}



.RSITEM1 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -5.89155e-05px;
    color: #414D6A;

}