.LinkToWrapper {
    display: flex;
    align-items: center;

    .to-link--first {
        margin-right: 77px;
    }
 
}



.container {
    width: 100%;
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}