.m-links {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    color: #4E72CA;
    padding-right: 5px;
}

.m-links--simple {
    margin-right: 10px;
}

.m-links--borderly {
    padding-left: 10px;
    border-left: 3px solid #4E72CA;
}