.SRITEMS3 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    
    letter-spacing: -3.17237e-05px;
    margin-right: 7px;
    color: #000000;

}

.SRItems3 {
    display: flex;
    align-items: center;
    margin-top: 17px;
    margin-bottom: 24px;
}



.SRItems3-link {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -4.13787e-05px;
    text-decoration-line: underline;

    color: #2AAE63;

}