.SingleMenu-spans {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;

}

.SingleMenu {
    display: flex;
    align-items: center;
    justify-content: space-around
}