.SBBTN {
    font-family: 'Gilroy';
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -5.89155e-05px;
    color: #FFFFFF;
    background: #304FFF;
    border-radius: 23.5px;
    padding: 15px 28px;
    border: none;
    margin-right: 11px;

}